.candidate-img-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.candidate-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50% !important;
}

#isRank {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 1.2em;
    padding: 0.5em 1em;
}

#details {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 0.6em 1em;
    cursor: pointer;
}

#details:hover {
    filter: brightness(80%);
}

.theme-light #isRank,
.theme-light #details {
    background-color: #d0cfcf15;
    color: black;
}

.theme-light #visi_details,
.theme-light #misi_details {
    color: #607080;
}

.theme-dark #visi_details,
.theme-dark #misi_details {
    color: #c2c2d9;
}

.theme-dark #isRank,
.theme-dark #details {
    background-color: #e9e9f821;
    color: white;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.z-1 {
    z-index: 1;
}
.fs-brutal {
    font-size: 4em !important;
}

.fs-maximum-icon {
    font-size: 11em;
}

.event-status-absolute {
    color: white;
}

@media screen and (max-width: 575.98px) {
    #navbar {
        flex-direction: column !important;
    }
    .fs-maximum-icon {
        font-size: 8em;
    }
    #navbar {
        margin: 0 0 4em 0;
    }
    .candidate-img-container {
        overflow: hidden;
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1440px) {
    #description {
        flex-direction: column !important;
    }
    #title {
        flex-direction: column !important;
    }
    #spacer-desc {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #isRank {
        padding: 0.2em 0.5em;
    }
}

.w-vw-max {
    width: 100vw !important;
    overflow-x: hidden;
}
.h-vh-max {
    overflow-y: hidden;
    height: 100vh !important;
}

.w-status {
    width: 50px;
}
